* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0px auto;
}

a, button {
  cursor: pointer;
}

.main .br-red {
  border: 1px solid red;
}
.main .br-blue {
  border: 1px solid blue;
}
.main .br-green {
  border: 1px solid green;
}
.main .vostoka {
  margin-top: 109px;
}
.main .vostoka .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .vostoka .container .vostoka__text {
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.main .vostoka .container .vostoka__text h1 {
  font-family: "Exo 2";
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: #363738;
}
.main .vostoka .container .vostoka__text p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-right: 80px;
}
.main .vostoka .container .vostoka__text a {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #363738;
  border-bottom: 3px solid #FFCE50;
  transition: all 0.3s linear;
}
.main .vostoka .container .vostoka__text a:hover {
  color: #FFCE50;
  border-color: #363738;
}
.main .vostoka .container .vostoka__img {
  width: 635px;
  height: 505px;
  overflow: hidden;
}
.main .vostoka .container .vostoka__img img {
  width: 635px;
  height: 505px;
}
.main .poisk {
  margin-top: 67px;
}
.main .poisk .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.main .poisk .cards .card {
  width: 228px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main .poisk .cards .card .card__img {
  width: 92px;
  height: 92px;
  background-color: #e9e9ec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.main .poisk .cards .card .card__text {
  margin-top: 24px;
}
.main .poisk .cards .card .card__text h1 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.main .poisk .cards .card:nth-child(2) {
  box-sizing: content-box;
  padding-left: 64px;
  border-left: 1px solid #d7d7dd;
}
.main .poisk .cards .card:nth-child(3) {
  box-sizing: content-box;
  padding-left: 64px;
  border-left: 1px solid #d7d7dd;
}
.main .pochemu {
  margin: 67px 0;
  margin-bottom: 0;
}
.main .pochemu .pochemu__img {
  height: 453px;
  position: relative;
  overflow: hidden;
}
.main .pochemu .pochemu__img .mainImg {
  position: absolute;
  left: 3px;
  z-index: 1;
  height: 100%;
  transition: all 0.3s linear;
}
.main .pochemu .pochemu__img .mainImg:hover {
  transform: scale(1.1);
}
.main .pochemu .pochemu__img .pochemu__text {
  position: absolute;
  z-index: 2;
  height: 453px;
}
.main .pochemu .pochemu__img .pochemu__text div {
  position: relative;
  width: 420px;
  height: 453px;
}
.main .pochemu .pochemu__img .pochemu__text div img {
  position: absolute;
}
.main .pochemu .pochemu__img .pochemu__text div h2 {
  position: absolute;
  width: 100%;
  height: 453px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: white;
  margin-left: 80px;
}
.main .whyUs {
  margin-top: 72.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 66px;
  gap: 62px 140px;
}
.main .whyUs article {
  width: 447px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main .whyUs article .article__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #e9e9ec;
  border-radius: 50%;
}
.main .whyUs article .article__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 291px;
}
.main .whyUs article .article__text h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
}
.main .whyUs article .article__text p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
}
.main .ourWorks {
  margin-top: 120px;
}
.main .ourWorks .container h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}
.main .ourWorks .container p {
  margin-top: 32px;
  width: 460px;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-bottom: 56px;
}
.main .ourWorks .container .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.main .ourWorks .container .cards .card {
  border-radius: 10px;
  width: 393px;
  height: 440px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s linear;
}
.main .ourWorks .container .cards .card:hover {
  transform: scale(1.1);
}
.main .ourWorks .container .cards .card .card__img {
  width: 393px;
  height: 247px;
  overflow: hidden;
}
.main .ourWorks .container .cards .card .card__img img {
  width: 393px;
  height: 247px;
}
.main .ourWorks .container .cards .card .card__text {
  padding: 24px 34px 32px 32px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.main .ourWorks .container .cards .card .card__text h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin: 0;
}
.main .ourWorks .container .cards .card .card__text p {
  margin-top: 16px;
  margin-bottom: 0;
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  width: 100%;
}
.main .ourWorks .container .cards .card .card__text a {
  margin-top: 32px;
  border-bottom: 3px solid #FFCE50;
  padding-bottom: 3px;
  color: #363738;
  transition: all 0.5s ease;
}
.main .ourWorks .container .cards .card .card__text a:hover {
  color: #FFCE50;
  border-color: #363738;
}
.main .clients {
  margin-top: 212px;
}
.main .clients .container {
  padding: 85px 66px;
  height: 957px;
  background-color: #0B7572;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .clients .container .client__text {
  width: 40%;
  height: 100%;
}
.main .clients .container .client__text h2 {
  margin-top: 15px;
  color: white;
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
}
.main .clients .container .clients__paper {
  width: 60%;
  height: 100%;
  background-color: white;
  padding: 28px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.main .paper__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #d7d7dd;
}
.main .paper__head .head__title {
  width: 274px;
}
.main .paper__head .head__title p {
  font-family: "PT Sans";
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
  color: #6B6B6C;
  margin-bottom: 32px;
}
.main .paper__category {
  background-color: #0B7572;
  margin-bottom: 8px;
}
.main .paper__category ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main .paper__category ul li {
  width: 25%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
  color: white;
  height: 45px;
}
.main table.paper__table {
  border-collapse: collapse;
  width: 588px;
  overflow: hidden;
  margin-bottom: 40px;
}
.main table.paper__table tr {
  border-bottom: 1px solid #d7d7dd;
  width: 100%;
  display: flex;
}
.main table.paper__table tr:nth-child(3) {
  border: none;
}
.main table.paper__table td {
  width: 25%;
  padding: 16px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main table.paper__table td p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
  color: #6B6B6C;
  margin-bottom: 10px;
}
.main table.paper__table td strong {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 18.9px;
  text-align: left;
  color: #363738;
  margin-bottom: 10px;
}
.main table.paper__table td a {
  color: #363738;
  font-family: "PT Sans";
  font-size: 12px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
}
.main .steps {
  margin-top: 120px;
}
.main .steps .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main .steps .steps__title {
  margin-bottom: 48px;
}
.main .steps .steps__title h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}
.main .steps .steps__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 49px;
}
.main .steps .steps__cards .steps__cards__card {
  padding: 32px 132px 32px 96px;
  display: flex;
  gap: 56px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}
.main .steps .steps__cards .steps__cards__card .steps__card__img {
  height: 100%;
}
.main .steps .steps__cards .steps__cards__card .steps__card__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main .steps .steps__cards .steps__cards__card h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #363738;
}
.main .steps .steps__cards .steps__cards__card .steps__card__text__line {
  width: 86px;
  height: 3px;
  background-color: #FFCE50;
}
.main .steps .steps__cards .steps__cards__card .steps__card__text__p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
}
.main .clientsLogo {
  margin-top: 120px;
}
.main .clientsLogo h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}
.main .clientsLogo .companies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 90px;
}
.main .clientsLogo .companies .company {
  width: 25% !important;
  height: 190px;
  border-right: 1px solid #d7d7dd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
}
.main .clientsLogo .companies .company .comany__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .clientsLogo .companies .company .comany__info h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
  margin-top: 32px;
  margin-bottom: 14px;
}
.main .clientsLogo .companies .company .comany__info p {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #6B6B6C;
}
.main .clientsLogo .companies .company4 {
  border: none;
}
.main .ourTeam {
  margin-top: 130px;
}
.main .ourTeam h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}
.main .team__cards {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 24px;
}
.main .team__cards .team__card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-left: 51px solid #0B7572;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 32px;
  width: 48.5%;
}
.main .team__cards .team__card img.team__cards__img {
  width: 138px;
  height: 138px;
}
.main .team__cards .team__card .team__card__text {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.main .team__cards .team__card .team__card__text h4 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
}
.main .team__cards .team__card .team__card__text a {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6B6B6C;
  margin-top: 12px;
}
.main .team__cards .team__card .team__card__text div.team__line {
  margin-top: 16px;
}
.main .team__cards .team__card .team__card__text div.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 35px;
}
.main .team__line {
  width: 86px;
  height: 3px;
  background-color: #FFCE50;
}
.main .contacts {
  margin-top: 130px;
}
.main .contacts h2 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
}
.main .contacts .info {
  margin-top: 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .contacts .contactInfo {
  display: flex;
  flex-direction: column;
  gap: 44px;
  width: 255px;
}
.main .contacts .contactInfo div {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.main .contacts .contactInfo div p {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main .contacts .contactInfo div p span {
  font-family: "PT Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6b6b6c;
}
.main .contacts .contactInfo div p a {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #363738;
}
.main .contacts .prceedings {
  width: 794px;
  background-color: #f9f9fb;
}
.main .contacts .prceedings table {
  border-collapse: collapse;
}
.main .contacts .prceedings table td {
  border-bottom: 1px solid #e9eaf2;
  padding: 16px;
}
.main .contacts .prceedings table td p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #6b6b6c;
}
.main .contacts .prceedings table td h4 {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #363738;
}
.main .video {
  margin-top: 46px;
}

.footer {
  margin-top: 166px;
  background-color: #0B7572;
  padding-top: 59px;
}
.footer .footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .footerLinks ol,
.footer .footerLinks ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer .footerLinks ol li a,
.footer .footerLinks ul li a {
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  text-align: center;
  color: white;
}
.footer .footerLinks ol li a:hover,
.footer .footerLinks ul li a:hover {
  -webkit-text-decoration: underline solid white 1px;
          text-decoration: underline solid white 1px;
}
.footer .footerSocial {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.footer .footerSocial div {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
}
.footer .footerSocial a.footer_tel {
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: white;
}
.footer .footerSocial button {
  width: 271px;
  height: 42px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: #ff9619;
  border: none;
  color: white;
}
.footer .footerSocial button:hover {
  background-color: #865314;
}
.footer .footerCopyRight {
  margin-top: 51px;
  padding: 29px 0;
}
.footer .footerCopyRight p {
  text-align: center;
  font-family: "Exo 2";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16em;
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */