* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0px auto;
}

a, button {
  cursor: pointer;
}

.main .br-red {
  border: 1px solid red;
}
.main .br-blue {
  border: 1px solid blue;
}
.main .br-green {
  border: 1px solid green;
}
.main .vostoka {
  margin-top: 109px;
}
.main .vostoka .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .vostoka .container .vostoka__text {
  width: 610px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}
.main .vostoka .container .vostoka__text h1 {
  font-family: "Exo 2";
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: #363738;
}
.main .vostoka .container .vostoka__text p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-right: 80px;
}
.main .vostoka .container .vostoka__text a {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #363738;
  border-bottom: 3px solid #FFCE50;
  transition: all 0.3s linear;
}
.main .vostoka .container .vostoka__text a:hover {
  color: #FFCE50;
  border-color: #363738;
}
.main .vostoka .container .vostoka__img {
  width: 635px;
  height: 505px;
  overflow: hidden;
}
.main .vostoka .container .vostoka__img img {
  width: 635px;
  height: 505px;
}
.main .poisk {
  margin-top: 67px;
}
.main .poisk .cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.main .poisk .cards .card {
  width: 228px;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main .poisk .cards .card .card__img {
  width: 92px;
  height: 92px;
  background-color: #e9e9ec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.main .poisk .cards .card .card__text {
  margin-top: 24px;
}
.main .poisk .cards .card .card__text h1 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
}
.main .poisk .cards .card:nth-child(2) {
  box-sizing: content-box;
  padding-left: 64px;
  border-left: 1px solid #d7d7dd;
}
.main .poisk .cards .card:nth-child(3) {
  box-sizing: content-box;
  padding-left: 64px;
  border-left: 1px solid #d7d7dd;
}
.main .pochemu {
  margin: 67px 0;
  margin-bottom: 0;
}
.main .pochemu .pochemu__img {
  height: 453px;
  position: relative;
  overflow: hidden;
}
.main .pochemu .pochemu__img .mainImg {
  position: absolute;
  left: 3px;
  z-index: 1;
  height: 100%;
  transition: all 0.3s linear;
}
.main .pochemu .pochemu__img .mainImg:hover {
  transform: scale(1.1);
}
.main .pochemu .pochemu__img .pochemu__text {
  position: absolute;
  z-index: 2;
  height: 453px;
}
.main .pochemu .pochemu__img .pochemu__text div {
  position: relative;
  width: 420px;
  height: 453px;
}
.main .pochemu .pochemu__img .pochemu__text div img {
  position: absolute;
}
.main .pochemu .pochemu__img .pochemu__text div h2 {
  position: absolute;
  width: 100%;
  height: 453px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: white;
  margin-left: 80px;
}
.main .whyUs {
  margin-top: 72.5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 66px;
  gap: 62px 140px;
}
.main .whyUs article {
  width: 447px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.main .whyUs article .article__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #e9e9ec;
  border-radius: 50%;
}
.main .whyUs article .article__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 291px;
}
.main .whyUs article .article__text h3 {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
}
.main .whyUs article .article__text p {
  font-family: "PT Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
}
.main .ourWorks {
  margin-top: 120px;
}/*# sourceMappingURL=style.css.map */