.main {
  @mixin dfrc($fd: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
  }

  .br-red {
    border: 1px solid red;
  }

  .br-blue {
    border: 1px solid blue;
  }

  .br-green {
    border: 1px solid green;
  }

  .vostoka {
    margin-top: 109px;
    .container {
      @include dfrc($jc: space-between);
      .vostoka__text {
        width: 610px;
        @include dfrc($fd: column, $ai: flex-start);
        gap: 40px;
        h1 {
          font-family: "Exo 2";
          font-size: 52px;
          font-weight: 600;
          line-height: 65px;
          text-align: left;
          color: $primary-color;
        }

        p {
          font-family: "PT Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: $secondary-color;
          margin-right: 80px;
        }

        a {
          font-family: "PT Sans";
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
          text-align: left;
          color: $primary-color;
          //   padding-bottom: 10px;
          border-bottom: 3px solid $yellow;
          transition: all 0.3s linear;
          &:hover {
            color: $yellow;
            border-color: $primary-color;
          }
        }
      }

      .vostoka__img {
        width: 635px;
        height: 505px;
        // border: solid red;
        overflow: hidden;

        img {
          width: 635px;
          height: 505px;
        }
      }
    }
  }

  //   end Vostoka style

  //   start Poisk style
  .poisk {
    margin-top: 67px;
    // border: 1px solid red;
    .cards {
      @include dfrc($jc: space-between);
      padding: 40px 80px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 15%);
      border-radius: 20px;
      .card {
        width: 228px;
        height: 245px;
        @include dfrc($fd: column, $ai: flex-start);
        // border: 1px solid blue;
        .card__img {
          width: 92px;
          height: 92px;
          background-color: #e9e9ec;
          @include dfrc();
          border-radius: 50%;
        }

        .card__text {
          margin-top: 24px;
          //   width: 228px;
          h1 {
            font-family: "Exo 2";
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            text-align: left;
          }
        }
      }

      .card:nth-child(2) {
        box-sizing: content-box;
        padding-left: 64px;
        border-left: 1px solid #d7d7dd;
      }

      .card:nth-child(3) {
        box-sizing: content-box;
        padding-left: 64px;
        border-left: 1px solid #d7d7dd;
      }
    }
  }

  //   end poisk style

  // start pochemu  style

  .pochemu {
    margin: 67px 0;
    // border: 1px solid red;
    margin-bottom: 0;
    .pochemu__img {
      height: 453px;
      position: relative;
      overflow: hidden;
      .mainImg {
        position: absolute;
        left: 3px;
        z-index: 1;
        height: 100%;
        transition: all 0.3s linear;
        &:hover {
          transform: scale(1.1);
        }
      }

      .pochemu__text {
        position: absolute;
        z-index: 2;
        height: 453px;
        div {
          position: relative;
          width: 420px;
          height: 453px;
          img {
            position: absolute;
          }
          h2 {
            position: absolute;
            // border: 1px solid red;
            width: 100%;
            height: 453px;
            @include dfrc();
            font-family: "Exo 2";
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
            text-align: left;
            color: white;
            margin-left: 80px;
          }
        }
      }
    }
  }

  .whyUs {
    margin-top: 72.5px;
    // border: 1px solid red;
    @include dfrc($jc: flex-start);
    flex-wrap: wrap;
    padding: 0 66px;
    gap: 62px 140px;

    article {
      //   border: 1px solid blue;
      width: 447px;
      height: 80px;
      @include dfrc();
      gap: 40px;
      .article__img {
        @include dfrc();
        width: 80px;
        height: 80px;
        background-color: #e9e9ec;
        border-radius: 50%;
      }

      .article__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 291px;
        h3 {
          font-family: "Exo 2";
          font-size: 20px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          color: $primary-color;
        }
        p {
          font-family: "PT Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: $secondary-color;
        }
      }
    }
  }

  //   end pochemu style

  // start our works style

  .ourWorks {
    margin-top: 120px;
    .container {
      //   border: 1px solid red;
      h2 {
        font-family: "Exo 2";
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: $primary-color;
      }
      p {
        // border: 1px solid red;
        margin-top: 32px;
        width: 460px;
        font-family: "PT Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: $secondary-color;
        margin-bottom: 56px;
      }
      .cards {
        @include dfrc($jc: space-between);
        gap: 30px;
        .card {
          border-radius: 10px;
          width: 393px;
          height: 440px;
          display: flex;
          flex-direction: column;
          transition: all 0.5s linear;
          &:hover {
            transform: scale(1.1);
          }
          .card__img {
            width: 393px;
            height: 247px;
            overflow: hidden;
            img {
              width: 393px;
              height: 247px;
            }
          }

          .card__text {
            padding: 24px 34px 32px 32px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 15%);
            h3 {
              font-family: "Exo 2";
              font-size: 20px;
              font-weight: 600;
              line-height: 27px;
              text-align: left;
              color: $primary-color;
              margin: 0;
            }
            p {
              margin-top: 16px;
              margin-bottom: 0;
              font-family: "PT Sans";
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              color: $secondary-color;
              //   border: 5px solid black;
              width: 100%;
            }
            a {
              // border: 1px solid blue;
              margin-top: 32px;
              border-bottom: 3px solid $yellow;
              padding-bottom: 3px;
              color: $primary-color;
              transition: all 0.5s ease;
              &:hover {
                color: $yellow;
                border-color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
  //   end our works style

  //   start clients style
  .clients {
    margin-top: 212px;
    background-color: $green;

    .container {
      padding: 85px 66px;
      height: 957px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .client__text {
        width: 40%;
        // border: 1px solid white;
        height: 100%;
        h2 {
          margin-top: 15px;
          color: white;
          font-family: "Exo 2";
          font-size: 48px;
          font-weight: 600;
          line-height: 60px;
          text-align: left;
        }
      }

      .clients__paper {
        width: 60%;
        height: 100%;
        background-color: white;
        padding: 28px 32px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
      }
    }
  }

  .paper__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #d7d7dd;
    .head__title {
      width: 274px;
      p {
        font-family: "PT Sans";
        font-size: 11px;
        font-weight: 400;
        line-height: 16.5px;
        text-align: left;
        color: $secondary-color;
        margin-bottom: 32px;
      }
    }
  }

  .paper__category {
    background-color: $green;
    margin-bottom: 8px;
    ul {
      @include dfrc();
      width: 100%;
      li {
        width: 25%;
        border-right: 1px solid rgba(0, 0, 0, 20%);
        text-align: center;
        font-family: "Exo 2";
        font-size: 14px;
        font-weight: 600;
        line-height: 45px;
        color: white;
        height: 45px;
      }
    }
  }

  table.paper__table {
    border-collapse: collapse;
    width: 588px;
    // height: 508px;
    overflow: hidden;
    margin-bottom: 40px;
    tr {
      border-bottom: 1px solid #d7d7dd;
      width: 100%;
      display: flex;
    }

    tr:nth-child(3) {
      border: none;
    }
    td {
      width: 25%;
      padding: 16px;
      border-right: 1px solid rgba(0, 0, 0, 20%);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p {
        font-family: "PT Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 18.9px;
        text-align: left;
        color: $secondary-color;
        margin-bottom: 10px;
      }
      strong {
        font-family: "PT Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 18.9px;
        text-align: left;
        color: $primary-color;
        margin-bottom: 10px;
      }

      a {
        color: $primary-color;
        font-family: "PT Sans";
        font-size: 12px;
        font-weight: 400;
        line-height: 18.9px;
        text-align: left;
      }
    }
  }

  //   ens clients styel

  // start steps style
  .steps {
    margin-top: 120px;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    .steps__title {
      margin-bottom: 48px;
      h2 {
        font-family: "Exo 2";
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
        text-align: left;
        color: $primary-color;
      }
    }

    .steps__cards {
      //   border: 1px solid red;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding-left: 49px;

      .steps__cards__card {
        padding: 32px 132px 32px 96px;
        display: flex;
        gap: 56px;
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 12%);
        // border: 1px solid red;

        .steps__card__img {
          height: 100%;
        }

        .steps__card__text {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
        h3 {
          font-family: "Exo 2";
          font-size: 20px;
          font-weight: 600;
          line-height: 25px;
          text-align: left;
          color: $primary-color;
        }
        .steps__card__text__line {
          width: 86px;
          height: 3px;
          background-color: $yellow;
        }

        .steps__card__text__p {
          font-family: "PT Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          color: $secondary-color;
        }
      }
    }
  }
  //   end steps style

  // start clientsLogo
  .clientsLogo {
    margin-top: 120px;
    h2 {
      font-family: "Exo 2";
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      color: $primary-color;
    }
    .companies {
      @include dfrc();
      flex-wrap: wrap;
      margin-top: 90px;
      .company {
        width: 25%;
        height: 190px;
        border-right: 1px solid #d7d7dd;
        @include dfrc($fd: column);
        justify-content: space-between;
        margin-bottom: 75px;
        // border: 1px solid blue;
        .comany__info {
          // border: 1px solid green;
          // height: 82px;
          @include dfrc($fd: column, $jc: space-between);
          h4 {
            font-family: "Exo 2";
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
            text-align: center;
            color: $primary-color;
            // border: 1px solid red;
            margin-top: 32px;
            margin-bottom: 14px;
          }
          p {
            font-family: "PT Sans";
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            text-align: center;
            color: $secondary-color;
          }
        }
      }
      .company4 {
        border: none;
      }
    }
  }
  // end clientsLogo

  // start our team
  .ourTeam {
    margin-top: 130px;

    h2 {
      font-family: "Exo 2";
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      color: $primary-color;
    }
  }

  .team__cards {
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 24px;
    // border: 1px solid red;

    .team__card {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      border-left: 51px solid $green;
      border-radius: 10px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 15%);
      padding: 32px;
      width: 48.5%;
      // border: 1px solid red;
      img.team__cards__img {
        width: 138px;
        height: 138px;
      }
      .team__card__text {
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        h4 {
          font-family: "Exo 2";
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          color: $primary-color;
        }
        a {
          font-family: "PT Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: left;
          color: $secondary-color;
          margin-top: 12px;
        }
        div.team__line {
          margin-top: 16px;
        }
        div.social {
          display: flex;
          flex-direction: row;
          gap: 20px;
          margin-top: 35px;
        }
      }
    }
  }

  .team__line {
    width: 86px;
    height: 3px;
    background-color: $yellow;
  }
  // end our team style

  // start contacts style

  .contacts {
    margin-top: 130px;
    h2 {
      font-family: "Exo 2";
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      text-align: left;
      color: #363738;
    }

    .info {
      margin-top: 94px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .contactInfo {
      display: flex;
      flex-direction: column;
      gap: 44px;
      width: 255px;
    }

    .contactInfo div {
      display: flex;
      flex-direction: row;
      gap: 32px;
      // border: 1px solid red;
    }

    .contactInfo div p {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .contactInfo div p span {
      font-family: "PT Sans";
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      color: #6b6b6c;
    }

    .contactInfo div p a {
      font-family: "Exo 2";
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
      color: #363738;
    }

    .prceedings {
      width: 794px;
      background-color: #f9f9fb;
    }

    .prceedings table {
      border-collapse: collapse;
    }

    .prceedings table td {
      border-bottom: 1px solid #e9eaf2;
      padding: 16px;
    }

    .prceedings table td p {
      font-family: "PT Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color: #6b6b6c;
    }

    .prceedings table td h4 {
      font-family: 'Exo 2';
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      text-align: left;
      color: #363738;
    }
  }
  // end contacts style


  // start video style
  .video{
    margin-top: 46px;
  }
  // end video style

  //  /////// end main style  //////////////////
}


